abc
databases
dbbackup
__pycache__
.ipynb_checkpoints
z.quickstart.txt
selected_models
slides_folder
ckpts
*.sh
z.*
.DS_Store
.env


laravel_smp/node_modules
laravel_smp/public/hot
laravel_smp/public/storage
laravel_smp/storage/*.key
laravel_smp/vendor
laravel_smp/.env.backup
laravel_smp/.phpunit.result.cache
laravel_smp/docker-compose.override.yml
laravel_smp/Homestead.json
laravel_smp/Homestead.yaml
laravel_smp/npm-debug.log
laravel_smp/yarn-error.log
laravel_smp/.idea
laravel_smp/.vscode
laravel_smp/public/.htaccess
/public/images